html{color:#333;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
html,body{ font-family:"Microsoft YaHei", Arial; color:#3c3c3c;}
img{ border:0;}
a{text-decoration:none; color:#3c3c3c; outline:none;}
a:hover{ color:#c16b13;}
em{ font-style:normal;}
.h_1px{ height:1px; line-height:1px; overflow:hidden; clear:both;}
.bg_f7f7f7{ background:#f7f7f7;}
.min_max_adap{ width:1200px; margin:0 auto; position:relative;}
.jj_nav_hot{ height:612px; color:#FFF;
    -webkit-transition:opacity 0.8s ease;
    -moz-transition:opacity 0.8s ease;
    -ms-transition:opacity 0.8s ease;
    -o-transition:opacity 0.8s ease;
    transition:opacity 0.8s ease;}
.jj_nav_hot a{ color:#FFF;}

.jj_nav_info{ position:absolute; width:100%; top:0; left:0; z-index:2;}
.jj_nav_info .symbol{ position:absolute; left:10px; top:38px;}
.jj_nav_info .symbol a{ width:210px; height:80px; display:block; _background:url("../images/jj_logo.gif");}
.jj_nav_info .symbol img{ _display:none;}
.jj_nav_info .nav{ position:absolute; left:340px; top:63px; height:32px; line-height:32px; font-size:18px;}
.jj_nav_info .nav li{ float:left; margin-right:20px; display:inline-block; position:relative;}
.jj_nav_info .nav li a{ color:#FFFFFF; padding:0 16px 0 46px; float:left;}
.jj_nav_info .nav li a:hover,.jj_nav_info .nav li.hov a{ color:#fffdd3;}
.jj_nav_info .nav li span{ width:32px; height:32px; background:url("../images/jj_nav_bg.png"); _background:url("../images/jj_nav_bg.gif"); position:absolute; left:10px; top:-1px;}
.jj_nav_info .nav li.hov{ background:rgba(0,0,0,0.2); border-radius:10px;}
.jj_nav_info .nav li span.s1{ background-position:left -96px;}
.jj_nav_info .nav li span.s2{ background-position:left top;}
.jj_nav_info .nav li span.s3{ background-position:left -32px;}
.jj_nav_info .nav li span.s4{ background-position:left -64px;}
.jj_nav_info .nav li a:hover span.s1,.jj_nav_info .nav li.hov a span.s1{ background-position:-32px -96px;}
.jj_nav_info .nav li a:hover span.s2{ background-position:-32px top;}
.jj_nav_info .nav li a:hover span.s3{ background-position:-32px -32px;}
.jj_nav_info .nav li a:hover span.s4{ background-position:-32px -64px;}
.jj_nav_info .dow{ position:absolute; top:206px; right:10px; color:#FFF; width:350px;}
.jj_nav_info .dow .dow_but{ width:350px; height:82px; background:url("../images/dow_but_bg.png"); _background:url("../images/dow_but_bg.gif"); position:absolute; top:110px;}
.jj_nav_info .dow .dow_but:hover{ background-position:left -85px;}
.jj_nav_info .dow .dow_but:active{ background-position:left -170px;}
.jj_nav_info .dow .h_tit{ padding-left:10px; line-height:36px;}
.jj_nav_info .dow .h_tit h1{ font-size:32px; color:#FFF; line-height:48px;}
.jj_nav_info .dow .ph_dow { position:absolute; top:220px; width:100px; text-align:center; color:#FFF;}
.jj_nav_info .dow .ph_dow h2{ line-height:36px; height:36px; display:block;}
.jj_nav_info .dow .ph_dow span{
    width:88px; height:88px;
    display:block; margin:0 auto;
    background:url("../images/ph_dow_but_bg.png");
    _background:url("../images/ph_dow_but_bg.gif");}
.jj_nav_info .dow .ph_dow1{ left:20px;}
.jj_nav_info .dow .ph_dow1:hover span{ background-position:left -86px;}
.jj_nav_info .dow .ph_dow1:active span{ background-position:left -172px;}
.jj_nav_info .dow .ph_dow2{ left:200px;}
.jj_nav_info .dow .ph_dow2 span{ background-position:-92px top;}
.jj_nav_info .dow .ph_dow2:hover span{ background-position:-92px -86px;}
.jj_nav_info .dow .ph_dow2:active span{ background-position:-92px -172px;}
.jj_nav_info .dow .ph_dow3{ left:180px;}
.jj_nav_info .dow .ph_dow3 span{ background-position:-184px top;}
.jj_nav_info .dow .ph_dow3:hover span{ background-position:-184px -86px;}
.jj_nav_info .dow .ph_dow3:active span{ background-position:-184px -172px;}
.jj_nav_info .dow .ph_dow4{ left:270px;}
.jj_nav_info .dow .ph_dow4 span{ background-position:-276px top;}
.jj_nav_info .dow .ph_dow4:hover span{ background-position:-276px -86px;}
.jj_nav_info .dow .ph_dow4:active span{ background-position:-276px -172px;}
.jj_nav_info .dow .wm2{ background:#000; background:rgba(0,0,0,0.70); border-radius:10px; top:136px; width:130px; height:164px; position:absolute; left:-170px; padding:10px; text-align:center; display:none; z-index:10;}
.jj_nav_info .dow .wm2 img{ width:120px; height:120px; padding:5px; background:#FFF;}
.jj_nav_info .dow .wm2 span{ line-height:32px;}

.jj_hot_img{ position:absolute; height:612px; width:100%; top:0; left:0; z-index:1;}
.jj_hot_img .hot_img{ position:absolute; height:612px; width:100%; top:0; left:0;
    -webkit-transition:all 0.8s ease;
    -moz-transition:all 0.8s ease;
    -ms-transition:all 0.8s ease;
    -o-transition:all 0.8s ease;
    transition:all 0.8s ease;
    opacity:0;}
.jj_hot_img .hot_img .hot_img_len{ width:100%; height:612px; }
.jj_hot_img .hot_img .hot_img_len .min_max_adap{ height:612px; }
.jj_hot_img .hot_img .hot_img_len .aa{ width:683px; height:381px; position:absolute; top:157px; left:65px;}
.jj_hot_img .hot_img .hot_img_len1{background:#1b8ecc url("../images/hot_img_len01.png") center top; }
.jj_hot_img .hot_img .hot_img_len1 .min_max_adap{background:url("../images/hot_img_len01towbg.jpg") left top; }
.jj_hot_img .hot_img .hot_img_len1 .aa{ background:url("../images/hot_img_len1_bb02.jpg") left top;}
.jj_hot_img .hot_img .hot_img_len2{background:url("../images/hot_img_len02.png") center top #fff; }
.jj_hot_img .hot_img .hot_img_len2 .min_max_adap{background:url("../images/hot_img_len02towbg.jpg") left top; }
.jj_hot_img .hot_img .hot_img_len2 .aa{ background:url("../images/hot_img_len2_bb02.jpg") left top;}
.jj_hot_img .hot_img .hot_img_len3{background:#008857 url("../images/hot_img_len03.png") center top; }
.jj_hot_img .hot_img .hot_img_len3 .min_max_adap{background:url("../images/hot_img_len03towbg.jpg") left top; }
.jj_hot_img .hot_img .hot_img_len3 .aa{ background:url("../images/hot_img_len3_bb02.jpg") left top;}
.hot_img_nav{ position:absolute; top:570px; left:537px;}
.hot_img_nav li{
    width:29px;
    height:13px;
    background:url("../images/hot_nav_bg.png") right top;
    _background:url("../images/hot_nav_bg.gif") right top;
    overflow:hidden; display:inline; float:left; margin:0 10px; cursor:pointer;}
.hot_img_nav li.hov{ background-position:left top;  cursor:default; }
.hot_img_nav li{ float:left;}
.jj_game_list{ padding:12px 0 24px;}
.jj_game_list .jj_ind_left{ width:780px; float:left;}
.jj_ind_tit{ height:58px; line-height:58px; padding:0 20px;}
.jj_ind_tit h2{ font-size:22px; float:left; font-family:"Microsoft YaHei",SimHei;}
.jj_ind_tit .mo{ float:right; font:14px; color:#3db5e6;}
.jj_ind_tit .mo span{ font-family:SimSun;}
.jj_game_icon { margin-top:5px;}
.jj_game_icon li{ width:155px; height:156px; float:left; position:relative;}
.jj_game_icon li a{ padding-top:17px; display:block; position:relative; z-index:1;}
.jj_game_icon li a span{
    width:100px;
    margin:0 auto; display:block;-webkit-transition:all 0.1s ease;
    -moz-transition:all 0.1s ease;
    -ms-transition:all 0.1s ease;
    -o-transition:all 0.1s ease;
    transition:all 0.1s ease;}
.jj_game_icon li a:hover span{ margin-top:-5px; padding-bottom:5px; opacity:0.9;}
.jj_game_icon li a:active span{ opacity:0.7; margin-top:-4px; padding-bottom:4px;}
.jj_game_icon li a span img{ width:100px; height:100px;}
.jj_game_icon li a h3{ font-size:16px; text-align:center; line-height:32px;}

.web_game_icon { margin-top:0;}
.web_game_icon li{ width:193px; height:210px;}
.web_game_icon li a{ width:193px; height:176px;}
.web_game_icon li a span,
.web_game_icon li a span img{ width:168px; height:134px;}
.web_game_icon li a h3{ line-height:48px;}

.jj_ind_right{ background:#f4f4f4; border:1px solid #EEE; float:right; width:386px;}
.jj_ind_right h3{ height:48px; clear:both; line-height:48px; font-size:22px; font-family:"Microsoft YaHei",SimHei; border-bottom:1px solid #EEE; padding:0 16px;}
.jj_ind_right .im{ float:right;}
.jj_ind_right .im img{ float:right; padding:8px 5px 5px 5px;-webkit-transition:all 0.2s ease;
    -moz-transition:opacity 0.2s ease;
    -ms-transition:opacity 0.2s ease;
    -o-transition:opacity 0.2s ease;
    transition:opacity 0.2s ease; width:376px;}
.jj_ind_right a:hover img{ opacity:0.9;}
.jj_ind_right2{ margin:15px 0 6px 0; background:#f9f9f9;}
.jj_ind_right2 .im img,.jj_ind_right3 .im img{ padding:5px;}
.jj_ind_right3{ margin:26px 0 6px 0; background:#f4f4f4;}
.tv_cooper{ height:150px;}
.tv_cooper{ width:100%;}
.tv_cooper li{ width:12.499%; float: left;}
.tv_cooper li a{ display: block; text-align:center;}
.tv_cooper li a span img{ width: 74px; height: 74px;}
.tv_cooper li a span{ width:74px; height:74px;}
/*980*/
.min_980 .jj_nav_hot,
.min_980 .jj_hot_img,
.min_980 .jj_hot_img .hot_img,
.min_980 .jj_nav_hot{ height:500px;}
.min_980 .jj_hot_img .hot_img .hot_img_len{ height:500px; }
.min_980 .jj_hot_img .hot_img .hot_img_len .min_max_adap{ height:500px; }
.min_980 .jj_hot_img .hot_img .hot_img_len .aa{ width:558px; height:311px;top:129px; left:53px;}
.min_980 .jj_hot_img .hot_img .hot_img_len1{
    background:url("../images/hot_img_len01980.png") center top; }
.min_980 .jj_hot_img .hot_img .hot_img_len1 .min_max_adap{
    background:url("../images/hot_img_len01towbg980.jpg") left top; }
.min_980 .jj_hot_img .hot_img .hot_img_len1 .aa{ background:url("../images/hot_img_len1_bb02980.jpg") left top;}
.min_980 .jj_hot_img .hot_img .hot_img_len2{background:url("../images/hot_img_len02980.png") center top no-repeat #fff; }
.min_980 .jj_hot_img .hot_img .hot_img_len2 .min_max_adap{background:url("../images/hot_img_len02towbg980.jpg") left top; }
.min_980 .jj_hot_img .hot_img .hot_img_len2 .aa{ background:url("../images/hot_img_len2_bb02980.jpg") left top;}
.min_980 .jj_hot_img .hot_img .hot_img_len3{background:url("../images/hot_img_len03980.png") center top; }
.min_980 .jj_hot_img .hot_img .hot_img_len3 .min_max_adap{background:url("../images/hot_img_len03towbg980.jpg") left top; }
.min_980 .jj_hot_img .hot_img .hot_img_len3 .aa{ background:url("../images/hot_img_len3_bb02980.jpg") left top;}
.min_980 .min_max_adap{ width:980px;}
.min_980 .jj_nav_info .nav li a{ padding:0 20px 0 45px; font-size:16px;}
.min_980 .jj_nav_info .dow{ width:310px; top:160px;}
.min_980 .jj_nav_info .dow .dow_but{ width:310px; background:url("../images/dow_but_bg_980.png"); _background:url("../images/dow_but_bg_980.gif"); height:72px; top:90px;}
.min_980 .jj_nav_info .dow .dow_but:hover{ background-position:left -75px;}
.min_980 .jj_nav_info .dow .dow_but:active{ background-position:left -150px;}
.min_980 .jj_nav_info .dow .h_tit h1{ font-size:28px; line-height:36px;}
.min_980 .jj_nav_info .dow .h_tit span{ font-size:14px;}
.min_980 .jj_nav_info .dow .ph_dow span{ width:71px; height:71px;background:url("../images/ph_dow_but_bg_980.png") no-repeat -8px -10px; _background:url("../images/ph_dow_but_bg_980.gif") no-repeat -8px -10px;}
.min_980 .jj_nav_info .dow .ph_dow{ width:76px; top:186px;}
.min_980 .jj_nav_info .dow .ph_dow1:hover span{ background-position:-8px -88px;}
.min_980 .jj_nav_info .dow .ph_dow1:active span{ background-position:-8px  -166px;}
.min_980 .jj_nav_info .dow .ph_dow2{ left:80px;}
.min_980 .jj_nav_info .dow .ph_dow2 span{ background-position:-88px -10px;}
.min_980 .jj_nav_info .dow .ph_dow2:hover span{ background-position:-88px -88px;}
.min_980 .jj_nav_info .dow .ph_dow2:active span{ background-position:-88px -166px;}
.min_980 .jj_nav_info .dow .ph_dow3{ left:160px;}
.min_980 .jj_nav_info .dow .ph_dow3 span{ background-position:-168px -10px;}
.min_980 .jj_nav_info .dow .ph_dow3:hover span{ background-position:-168px -88px;}
.min_980 .jj_nav_info .dow .ph_dow3:active span{ background-position:-168px -168px;}
.min_980 .jj_nav_info .dow .ph_dow4{ left:240px;}
.min_980 .jj_nav_info .dow .ph_dow4 span{ background-position:-250px -10px;}
.min_980 .jj_nav_info .dow .ph_dow4:hover span{ background-position:-250px -88px;}
.min_980 .jj_nav_info .dow .ph_dow4:active span{ background-position:-250px -168px;}
.min_980 .jj_nav_info .dow .wm2{ left:-160px;}
.min_980 .hot_img_nav{ top:466px; left:427px;}
.min_980 .jj_nav_info .nav li span{ background-image:url("../images/jj_nav_bg_980.png"); _background-image:url("../images/jj_nav_bg_980.gif");}
.min_980 .jj_nav_info .nav{ left:300px;}
.min_980 .jj_game_list .jj_ind_left{ width:630px;}
.min_980 .jj_ind_right{ width:330px;}
.min_980 .jj_ind_right .im img{ width:320px;}
.min_980 .jj_ind_tit{ line-height:50px; height:50px;}
.min_980 .jj_ind_tit h2{ font-size:20px;}
.min_980 .jj_ind_tit .mo{ font-size:14px;}
.min_980 .jj_ind_right h3{ height:40px; line-height:40px; font-size:20px;}
.min_980 .jj_ind_right .im img{ padding:5px;}
.min_980 .jj_game_icon li a{ padding-top:14px;}
.min_980 .jj_game_icon li{ width:126px; height:136px;}
.min_980 .jj_game_icon li a span{ width:88px; height:88px;}
.min_980 .jj_game_icon li a span img{ width:86px; height:86px;}
.min_980 .jj_game_icon li a h3{ font-size:15px;}
.min_980 .web_game_icon li{ width:156px; height:167px;}
.min_980 .web_game_icon li a{ width:156px; height:150px;}
.min_980 .web_game_icon li a span,.min_980  .web_game_icon li a span img{ width:132px; height:106px;}
.min_980 .web_game_icon li a h3{ line-height:36px;}
.min_980 .tv_cooper li{ width:12.499%;}
.min_980 .tv_cooper li a span,
.min_980 .tv_cooper li a span img{ width: 74px; height: 74px;}

.pub_footer{ background:url("../images/pub_footer_bg.png") repeat-x top; text-align:center;color:#9e9e9e;  height:114px; font-size:14px;}
.pub_footer .pf_box{width:980px; margin:0 auto; position:relative;}
.pub_footer a:hover{text-decoration:underline;}
.pub_footer .n{ line-height:40px; padding-top:10px; }
.pub_footer .n a{color:#6c6c6c; margin:0 15px;}
.pub_footer .i{ line-height:24px; font-size:12px;}
.pub_footer .i a{color:#9e9e9e;}
.pub_footer .m{ position:absolute; top:25px; right:60px; }
.pub_footer .huang_dao{ position:absolute; left:0; top:10px;}
.pub_footer .aa{ position:absolute; top:16px; right:0;}
.pub_footer .a1 img{ width:42px;}
.pub_footer .a2{ right:60px; top:20px;}
.pub_footer .a3{ right:106px;}
.pub_footer .a4{ right:160px;}
.pub_footer .a5{ top:70px; right:0;}
.pub_footer .a5 img{ height:32px; width: auto;}
/*2015.11.26 mxm+*/
.jj_nav_info .dow{ top:190px;}
.jj_nav_info .dow .dow_but{ background:url("../images/dow_but_bg.png"); _background:url("../images/dow_but_bg.gif");}
.jj_nav_info .dow .ph_dow {top:238px;}
.jj_nav_info .dow .old_jj{
    padding-left:20px; position:absolute; left:220px; top:200px; background:url("../images/old_down.png") no-repeat;_background:url("../images/old_down.gif" ) no-repeat; font-size:16px; color:#dadada; text-shadow:1px 1px 4px rgba(0,0,0,0.5); line-height:16px; height:16px;}
.jj_nav_info .dow .old_jj:hover{ background-position:0 -16px; color:#fff;}
.jj_nav_info .dow .old_jj:active{ background-position:0 -32px; color:#fff;}
.jj_nav_info .dow .x_line{ width:350px; height:1px; line-height:0; font-size:0; background:#fff; opacity:0.2;filter:alpha(opacity=20); position:absolute; left:0; top:230px}
.min_980 .jj_nav_info .dow{top:148px;}
.min_980 .jj_nav_info .dow .dow_but{
    background:url("../images/dow_but_bg_980.png");
    _background:url("../images/dow_but_bg_980.gif");}
.min_980 .jj_nav_info .dow .ph_dow{ top:194px}
.min_980 .jj_nav_info .dow .old_jj{ left:180px; top:178px; }
.min_980 .jj_nav_info .dow .x_line{ width:310px; top:206px;}
