@charset "gb2312";
/* CSS Document */
html,body{ background: #04205e;}
.wrap_inner{ background: none;}
.main{ width: 7.2rem; max-width: 720px; margin: 0 auto;}
.part_1{ width: 7.2rem; min-height: 12.8rem; position: relative;background: url("../animation/bg_body.jpg") no-repeat 0 0;background-size: 7.2rem 12.8rem;}
.part_1 .logo_jj{ display: block; width: 1.6rem; height: 0.76rem; background: url("../animation/logo_jj.png") no-repeat 0 0;background-size: 1.6rem 0.76rem; position: absolute;left: 0.3rem; top: 0.3rem;}
.part_1 .lt_anim{ width: 4.50rem; height: 4.15rem; background: url("../animation/bg_farmer.png") no-repeat 0 0;background-size: 4.50rem 4.15rem; position: absolute;left: 0; top: 2.88rem;}
.part_1 .rt_anim{ width: 2rem; height: 2.75rem; background: url("../animation/bg_dizhu.png") no-repeat 0 0;background-size: 2rem 2.75rem; position: absolute;right: 0.35rem; top: 0.2rem;}
.part_1 .fire_box{ width: 5.4rem; height: 7rem; background: url("../animation/bg_fire.png") no-repeat 0 0;background-size: 5.4rem 6.6rem; position: absolute;right: 0; top: 3.28rem;}
.part_1 .anim_01{width: 2.92rem; height: 2.92rem;background: url("../animation/fire_01.png") no-repeat 0 0;background-size: 2.92rem 2.92rem; position: absolute;left:1.25rem; top: 3.86rem; z-index: 99;}
.part_1 .anim_02{width: 0.85rem; height: 0.85rem;background: url("../animation/fire_02.png") no-repeat 0 0;background-size: 0.85rem 0.85rem; position: absolute;left:2.26rem; top:4.84rem; z-index: 100;}
.part_1 .anim_03{width: 2.92rem; height: 2.92rem;background: url("../animation/fire_03.png") no-repeat 0 0;background-size: 2.92rem 2.92rem; position: absolute;left:1.2rem; top: 3.86rem; z-index: 101;}

.part_2{ position: relative; min-height: 13.38rem;}
.part_2 .lis{ width: 7.2rem; height: 4.46rem; position: absolute; left: 0; background: rgb(4, 32, 94)}
.part_2 .lis_01{top: 0rem;}
.part_2 .lis_02{ top: 4.44rem;}
.part_2 .lis_03{ top: 8.88rem;}
.part_2 .lis a{ display: none; width: 100%; height: 100%;}
.part_2 .lis a img{ display: block; width: 100%; height: 100%;}

.part_2 .txt{ width: 7.2rem; height: 1rem; position: absolute; left: 0; opacity: 0}
.part_2 .anim-end{ opacity: 1}
.part_2 .txt img{ width: 100%;}
.part_2 .txt_01{ top: 1.82rem;}
.part_2 .txt_02{right: 0; top: 6.28rem;}
.part_2 .txt_03{ top: 10.74rem;}

footer{ width: 100%; max-width: 720px; margin: 0 auto;background: #04205e; font-family: Microsoft YaHei,SimHei;}
footer .in{ padding: 0.55rem 0 2.1rem; text-align: center;}
footer .in p{ font-size: 0.24rem; line-height: 0.40rem; color: rgba(255,255,255,0.6);}
footer .f_list{ width: 100%;}
footer .f_list a{ display: inline-block;font-size: 0.24rem; line-height: 0.40rem;  color: rgba(255,255,255,0.6);}
footer .f_list i{ color: rgba(255,255,255,0.6); margin: 0 0.2rem; }
.part_1 .lt_anim{animation:box_g 2.2s linear infinite;-webkit-animation:box_g 2.2s linear infinite;-ms-animation:box_g 2.2s linear infinite;-o-animation:box_g 2.2s linear infinite;}
@keyframes box_g{
    0%,100%{
        top:2.68rem;
    }
    50%{
        top:2.88rem;
    }
}
@-webkit-keyframes box_g{
    0%,100%{
        top:2.68rem;
    }
    50%{
        top:2.88rem;
    }
}

.part_1 .rt_anim{animation:box_g2 2.2s linear infinite;-webkit-animation:box_g2 2.2s linear infinite;-ms-animation:box_g2 2.2s linear infinite;-o-animation:box_g2 2.2s linear infinite;}
@keyframes box_g2{
    0%,100%{
        top:0.2rem;
    }
    50%{
        top:0.3rem;
    }
}
@-webkit-keyframes box_g2{
    0%,100%{
        top:0.2rem;
    }
    50%{
        top:0.3rem;
    }
}

.part_1 .fire_box{animation:box_g3 2.4s linear infinite;-webkit-animation:box_g3 2.4s linear infinite;-ms-animation:box_g3 2.4s linear infinite;-o-animation:box_g3 2.4s linear infinite;}
@keyframes box_g3{
    0%,100%{
           top:3.28rem;
    }
    50%{
          top:3.08rem;
    }
}
@-webkit-keyframes box_g3{
    0%,100%{
        top:3.28rem;
    }
    50%{
        top:3.08rem;
    }
}

.part_1 .anim_01{animation:rotate 3s linear infinite;-webkit-animation:rotate 3s linear infinite;-ms-animation:rotate 3s linear infinite;-o-animation:rotate 3s linear infinite;}
@-webkit-keyframes rotate{
    0%{-webkit-transform:rotate(0);}
    100%{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes rotate{
    0%{-moz-transform:rotate(0);}
    100%{-moz-transform:rotate(-360deg);}
}


.part_2 a.img_anim01{display: block; animation:translateY 1s ease  1;-webkit-animation:translateY 1s ease 1;-ms-animation:translateY 1s ease 1;-o-animation:translateY 1s ease 1;}
.part_2 a.img_anim02{display: block; animation:translateY 1s ease 1;-webkit-animation:translateY 1s ease 1;-ms-animation:translateY 1s ease 1;-o-animation:translateY 1s ease 1;}
.part_2 a.img_anim03{display: block;animation:translateY 1s ease 1;-webkit-animation:translateY 1s ease 1;-ms-animation:translateY 1s ease 1;-o-animation:translateY 1s ease 1;}

@-webkit-keyframes translateY{
    0%{
        -webkit-transform: translateY(2.23rem);
    }
    100%{
        -webkit-transform: translateY(0rem);
    }
}
@-moz-keyframes translateY{
    0%{
        -moz-transform:translateY(2.23rem);
    }
    100%{
        -moz-transform:translateY(0rem);
    }
}

.part_2 .txt_anim01{animation:translateY2 1.8s ease 1;-webkit-animation:translateY2 1.8s ease 1;-ms-animation:translateY2 1.8s ease 1;-o-animation:translateY2 1.8s ease 1; -webkit-animation-play-state: initial;opacity: 1;}
.part_2 .txt_anim02{animation:translateY2 1.8s ease 1;-webkit-animation:translateY2 1.8s ease 1;-ms-animation:translateY2 1.8s ease 1;-o-animation:translateY2 1.8s ease 1; -webkit-animation-play-state: initial;opacity: 1;}
.part_2 .txt_anim03{animation:translateY2 1.8s ease 1;-webkit-animation:translateY2 1.8s ease 1;-ms-animation:translateY2 1.8s ease 1;-o-animation:translateY2 1.8s ease 1; -webkit-animation-play-state: initial;opacity: 1;}


@-webkit-keyframes translateY2{
    0%{
        opacity: 0;
        -webkit-transform: translateY(2.23rem);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0rem);
    }
}
@-moz-keyframes translateY2{
    0%{
        opacity: 0;
        -moz-transform:translateY(2.23rem);
    }
    100%{
        opacity: 1;
        -moz-transform:translateY(0rem);
    }
}

.fixed_pos{ width: 100%; padding: 0.18rem 0; height: 1.15rem; position: fixed; bottom: 0; left: 0; z-index: 100000; background: rgba(255,255,255,0.85); display: none;}
.fixed_pos .im{ display: block; width: 1.15rem; height: 1.15rem; position: absolute; top: 0.18rem;  left: 0.42rem;}
.fixed_pos .im img{ width: 100%; height: 100%;}
.fixed_pos .cn{ padding:0.11rem 0 0 1.8rem; font-family: SimSun;}
.fixed_pos .cn h2{ width: 2.32rem; height: 0.9rem;}
.fixed_pos .cn h2 img{ width: 100%; height: 100%;}
.fixed_pos .dw_btn,
.fixed_pos .dw_btned{ display: block; width: 2.22rem; height: 0.88rem;background: url("../animation/dw_btn.png") no-repeat 0 0; background-size: 2.22rem 0.88rem; position: absolute; top: 0.3rem;  left: 62.5%;}
.fixed_pos .dw_btned{ background: url("../animation/dw_btned.png") no-repeat 0 0; background-size: 2.22rem 0.88rem; }
.fixed_anim{ display :block;animation:box_fixed 1s ease 1;-webkit-animation:box_fixed 1s ease 1;-ms-animation:translateY2 1s ease 1;-o-animation:box_fixed 1s ease 1; -webkit-animation-play-state: initial;}
@keyframes box_fixed{
    0%{
        bottom:  -1.51rem;
    }
    100%{
        bottom:  0;
    }
}
@-webkit-keyframes box_fixed{
    0%{
        bottom:  -1.51rem;
    }
    100%{
        bottom:  0;
    }
}